:root {
  --brand-color-black: #212121;
  --brand-color-blue: #2196f3;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black);
}

.wrapper {
  width: 1600px;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

header {
  height: 80px;
  border-bottom: #ececec solid 1px;
  padding-left: 215px;
}

header .logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #000;
  text-decoration: none;
  margin-top: 24px;
  margin-right: 93px;
  float: left;
}

.logo span {
  color: var(--brand-color-blue);
}

nav ul {
  display: inline;
  float: left;
  margin-top: 32px;
}

.menu li {
  list-style-type: none;
  display: inline;
  margin-right: 46px;
}

.menu li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-color-black);
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
  color: var(--brand-color-blue);
}

.contact {
  display: inline;
  float: left;
  margin-top: 32px;
  margin-left: 268px;
}

.contact li {
  list-style-type: none;
  display: inline;
  margin-right: 50px;
}

.contact a {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

main {
  margin: 94px 215px 0px 215px;
}

.submenu {
  margin: auto;
  border: 1px solid #000;
}

.submenu li {
  list-style-type: none;
  display: inline;
}
