:root {
  --brand-color-black: #212121;
  --brand-color-blue: #2196f3;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black);
}

.wrapper {
  width: 1600px;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

header {
  height: 80px;
  border-bottom: #ececec solid 1px;
  padding-left: 215px;
}

header .logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #000;
  text-decoration: none;
  margin-top: 24px;
  margin-right: 93px;
  float: left;
}

.logo span {
  color: var(--brand-color-blue);
}

nav ul {
  display: inline;
  float: left;
  margin-top: 32px;
}

.menu li {
  list-style-type: none;
  display: inline;
  margin-right: 46px;
}

.menu li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-color-black);
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
  color: var(--brand-color-blue);
}

.contact {
  display: inline;
  float: left;
  margin-top: 32px;
  margin-left: 268px;
}

.contact li {
  list-style-type: none;
  display: inline;
  margin-right: 50px;
}

.contact a {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.contact a:hover,
.contact a:focus,
.contact a:active {
  color: #000;
}

main {
  margin: 94px 215px 0px 215px;
}

.submenu {
  margin: auto;
  width: 580px;
}

.submenu li {
  list-style-type: none;
  display: inline;
}

button {
  background-color: #f5f4fa;
  height: 38px;
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: var(--brand-color-blue);
  color: #fff;
}

.projects li {
  list-style-type: none;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2em;
}

p {
  font-size: 16px;
  line-height: 1.9em;
}

footer {
  padding: 60px 0px 60px 215px;
  background-color: #2f303a;
}

footer .logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}

address ul {
  list-style-position: inside;
  padding-left: 0px;
}

address li {
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

address li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

address li a:hover,
address li a:focus,
address li a:active {
  color: #fff;
}

address li a span {
  text-decoration: underline;
}
