$primaryColor: #2196f3;

$secondaryColorBlack: #212121;
$secondaryColorWhite: #fff;

$tertiaryColorDark: #2f303a;
$tertiaryColorGrey: #757575;
$tertiaryColorLight: #afb1b8;

$borderRadiusDefault: 4px;
